[gcode_macro PRINT_START]
gcode:
  {% set target_bed = params.BED_TEMP|int %}
  {% set target_extruder = params.EXTRUDER_TEMP|int %}
  {% set target_chamber = params.CHAMBER_TEMP|default("45")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  #RUN_SHELL_COMMAND CMD=crowsnest_stop
  SET_PRESSURE_ADVANCE ADVANCE=0.0
  SET_IDLE_TIMEOUT TIMEOUT=43200
  chamber_on
  G28                                                                            # Full home (XYZ)
  G90                                                                            # Absolute position
  BED_MESH_CLEAR                                                                 # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED_TEMP|int > 90 %}
    SET_DISPLAY_TEXT MSG="Heating up bed to {target_bed}c"                       # Display info on display
    chamber_heating                                                              # Set LEDs to heating-mode
    M106 S255                                                                    # Turn on the PT-fan
    SET_FAN_SPEED FAN=chamber_circulation SPEED=0.5                              # Set the circulation fan
    G1 X{x_wait} Y{y_wait} Z15 F9000                                             # Go to center of the bed
    M190 S{target_bed}                                                           # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"                           # Display info on display
    TEMPERATURE_WAIT SENSOR="temperature_fan chamber" MINIMUM={target_chamber}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Heating up bed to {target_bed}c"                       # Display info on display
    chamber_heating                                                              # Set LEDs to heating-mode
    SET_FAN_SPEED FAN=chamber_circulation SPEED=0.5                              # Set the circulation fan
    G1 X{x_wait} Y{y_wait} Z15 F9000                                             # Go to center of the bed
    M190 S{target_bed}                                                           # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 10 min"                                       # Display info on display
    G4 P600000                                                                   # Wait 10 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Heating up hotend to 150c"                               # Display info on display
  M109 S150                                                                      # Heat hotend to 150c
  SET_DISPLAY_TEXT MSG="Leveling"                                                # Display info on display
  chamber_leveling                                                               # Set LEDs to leveling-mode
  _Z_TILT_MAYBE                                                                  # Level the printer via Z_TILT_ADJUST
  G28 Z                                                                          # Home Z again after Z_TILT_ADJUST
  SET_DISPLAY_TEXT MSG="Bed mesh"                                                # Display info on display
  chamber_leveling                                                               # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE                                                             # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Heating up hotend to {target_extruder}c"                 # Display info on display
  chamber_heating                                                                # Set LEDs to heating-mode
  Smart_Park                                                                     # Parks toolhead near the print area
  M107                                                                           # Turn off partcooling fan
  M109 S{target_extruder}                                                        # Heat the hotend to set temp

  # Get ready to print by doing a primeline and updating the LEDs
  #RUN_SHELL_COMMAND CMD=crowsnest_start
  SET_DISPLAY_TEXT MSG="Printing"                                                # Display info on display
  chamber_on                                                                     # Set LEDs to printing-mode
  CLEAN_NOZZLE                                                                   # Starts nozzle wipe to avoid any oozes on print area
  LINE_PURGE                                                                     # Makes a prime line